{% extends 'base.html.twig' %}

{% block title %}Edit PromesseDon{% endblock %}

{% block body %}
    <h1>Edit PromesseDon</h1>

    {{ include('promesse_don/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_promesse_don_index_id', {'id': campagne_id}) }}">Retour</a>

    {{ include('promesse_don/_delete_form.html.twig') }}
{% endblock %}
