{% extends 'base.html.twig' %}

{% block title %}Nouvelle Promesse de Don{% endblock %}

{% block body %}
    <h1>Create new PromesseDon</h1>

    {{ include('promesse_don/_form.html.twig') }}

{% endblock %}
